<!-- esta plantilla pinta la parte visual del componente y sus datos principales. -->
<div class="container-fluid">
  <!-- este bloque es el pie de pagina con informacion final. -->
  <footer class="row mt-3">
    <!-- separo esta seccion para organizar mejor la vista. -->
    <section class="col-12 col-md-6 text-center mt-3" aria-label="Redes Sociales">
      <h5 class="h4">Nuestras Redes</h5>
      <!-- aqui esta la navegacion principal para moverse por la web. -->
      <nav>
        <ul class="list-unstyled">
          <li>
            <a
              href="https://www.instagram.com/iesmaestre/?hl=es"
              target="_blank"
              rel="noopener noreferrer"
            >
              Instagram
            </a>
          </li>
          <li>
            <a
              href="https://www.facebook.com/p/IES-Maestre-100063601780596/?locale=es_ES"
              target="_blank"
              rel="noopener noreferrer"
            >
              Facebook
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/company/ies-maestredecalatrava/?originalSubdomain=es"
              target="_blank"
              rel="noopener noreferrer"
            >
              LinkedIn
            </a>
          </li>
          <li>
            <a href="https://x.com/iesmaestre?lang=es" target="_blank" rel="noopener noreferrer">X</a>
          </li>
        </ul>
      </nav>
    </section>

    <!-- separo esta seccion para organizar mejor la vista. -->
    <section class="col-12 col-md-6 text-center mt-3" aria-label="Textos Legales">
      <h5 class="h4">Legales</h5>
      <!-- aqui esta la navegacion principal para moverse por la web. -->
      <nav>
        <ul class="list-unstyled">
          <li><a href="/contacto">Aviso legal</a></li>
          <li><a href="/contacto">Politica de privacidad</a></li>
          <li><a href="/contacto">Politica de cookies</a></li>
        </ul>
      </nav>
    </section>

    <div class="col-12">
      <p class="copy text-center">Liga Deportiva del Instituto Â© 2026</p>
    </div>
  </footer>
</div>

